@page
@model RecipesManager.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row col-6"><form>
    <select class="form-control col" asp-for="Vegetarian" asp-items="@Model.Sl"></select>
    <input class="btn btn-secondary col mt-3" type="submit" value="Search" />
</form></div>

<table class="table-bordered col-6 mt-3">
<thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Vegetarian</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.Recipes)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ShortDescription</td>
            <td>@if (item.Vegetarian)
            {
                <p>Yes</p>
            }
            else {
                <p>No</p>
            }</td>
            <td><a asp-page="/Details" asp-route-id="@item.Id">Details</a></td>

        </tr>
    }
</tbody>
</table>